#word {
  font-size: calc(10vw + 12vh);
  font-family: 'customSimSun';

  @media screen and (max-width: 480px) {
    font-size: calc(20vw + 20vh);
  }

  user-select: none;
  width: fit-content;
  height: fit-content;
  // border: red dotted 5px;

}

.bigContainer {
  height: 70vh;
  width: 50vw;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  // box-sizing: border-box;

  // border: green dotted 5px;

  @media screen and (max-width: 480px) {
    width: 80vw;
  }


.container {

  width: 80%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  // border: yellow dotted 5px;

  .content {
    // width: 50vw;
    height: 80%;
    // width: 50%;
    padding: 5%;
    box-sizing: border-box;
    // border: red dotted 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    // @media screen and (max-width: 480px) {
    //   width: 50%;
    // }
  }
}

}

