<mat-toolbar color="primary" id="menuBar">
  <button mat-icon-button class="example-icon" >
    <mat-icon>menu</mat-icon>
  </button>
  <header id="appTitle">
    <span [routerLink]="['/home']"> {{ appTitle }} </span>
  </header>
  <!-- <span class="example-spacer"></span> -->
  <button mat-button class="example-icon favorite-icon" [routerLink]="['/translate']" routerLinkActive="router-link-active" >
    繁簡轉換
  </button>
  <button mat-button class="example-icon" [routerLink]="['/quiz']">
    測驗
  </button>
  <span class="example-spacer"></span>
</mat-toolbar>

<div class="container">
    <router-outlet></router-outlet>
</div>
