
<div class="BigContainer">
  <mat-card class="container">
    <mat-card-header class="headerContainer">
      <mat-card-subtitle>規範漢字學習網</mat-card-subtitle>
      <mat-card-title>關於</mat-card-title>
    </mat-card-header>


    <mat-card-content id="intro" [innerHTML]="intro"></mat-card-content>

    <mat-card-footer>
      <span>此網站尚在開發中，敬請期待。</span>
      <div class="line-spacer"></div>
      <span>
        <span>資料來源：</span>
        <a href="https://baike.baidu.hk/item/規範漢字/10117597">https://baike.baidu.hk/item/規範漢字/10117597</a>
      </span>
    </mat-card-footer>
  </mat-card>
</div>

